.vs/
WebClient.Core/obj/
WebClient.Repositories/obj/
WebClient.Services/obj/project.assets.json
WebClient.Services/obj/project.nuget.cache
WebClient.Services/obj/WebClient.Services.csproj.nuget.dgspec.json
WebClient.Services/obj/Debug/net5.0/WebClient.Services.assets.cache
WebClient.Services/obj/Debug/net5.0/WebClient.Services.csproj.AssemblyReference.cache
WebClient.Core/bin/
WebClient.Repositories/bin/
WebClient.Services/bin/Debug/net5.0/WebClient.Core.dll
WebClient.Services/bin/Debug/net5.0/WebClient.Core.pdb
WebClient.Services/bin/Debug/net5.0/WebClient.Repositories.dll
WebClient.Services/bin/Debug/net5.0/WebClient.Repositories.pdb
WebClient.Services/bin/Debug/net5.0/WebClient.Services.deps.json
WebClient.Services/bin/Debug/net5.0/WebClient.Services.dll
WebClient.Services/bin/Debug/net5.0/WebClient.Services.pdb
WebClient.Services/bin/Debug/net5.0/ref/WebClient.Services.dll
WebClient.Services/obj/Debug/net5.0/WebClient.Services.csproj.CopyComplete
WebClient.Services/obj/Debug/net5.0/WebClient.Services.csproj.CoreCompileInputs.cache
WebClient.Services/obj/Debug/net5.0/WebClient.Services.csproj.FileListAbsolute.txt
WebClient.Services/obj/Debug/net5.0/WebClient.Services.dll
WebClient.Services/obj/Debug/net5.0/WebClient.Services.pdb
WebClient.Services/obj/Debug/net5.0/ref/WebClient.Services.dll
WebClient.Services/obj/
WebClient/nlog-internal.log
WebClient/bin/
WebClient/obj/project.assets.json
WebClient/obj/
WebClient/wwwroot/node_modules/
WebClient/wwwroot/package-lock.json
/WebClient/WebClient.csproj.user
WebClient.Services/bin/
WebClient/node_modules/
WebClient/wwwroot/webfonts/
WebClient/Properties/
WebClient/package-lock.json
WebClient/wwwroot/css/32px.png
WebClient/wwwroot/css/main.min.css
WebClient/wwwroot/css/throbber.gif
WebClient/wwwroot/js/main.min.js
WebClient/wwwroot/uploads/duan/
WebClient/wwwroot/uploads/tiendo/