@using WebClient.Core.Models;
@{
    ViewData["Title"] = "Danh sách đối tượng đăng ký tiêm vaccine";
    IEnumerable<DmDoiTuongUuTienInfo> dsDoiTuong = this.ViewBag.DsDoiTuongUuTien;
    IEnumerable<Department> departments = this.ViewBag.Departments;
}

@{ 
    string RenderDepartmentOptions(IEnumerable<Department> departments, string prefix)
    {
        var htmlString = "";
        foreach (var department in departments)
        {
            htmlString += string.Format("<option value='{2}'>{1}{0}</option>", string.Format("[{0}] {1}", department.Ma_DonVi, department.Ten_DonVi), prefix, department.Id_DonVi);
            if (department.Children != null)
            {
                htmlString += RenderDepartmentOptions(department.Children, prefix + "----");
            }
        }

        return htmlString;
    }
}
<section class="content">
    <div class="container-fluid">
        <div id="search_panel" class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Tìm kiếm</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Ngày sinh:</label>
                                <select class="form-control sel" name="idDonVi">
                                    @{
                                        @Html.Raw(RenderDepartmentOptions(departments, ""));
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Họ tên:</label>
                                <input type="text" class="form-control" name="HoTen" placeholder="Họ tên người đăng ký" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">Số điện thoại:</label>
                                <input type="text" class="form-control" name="SoDienThoai" placeholder="Số điện thoại" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label">CMND/CCCD:</label>
                                <input type="text" class="form-control" name="CMND" placeholder="Chứng minh nhân dân / căn cước công dân" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row" style="margin: 0px;">
                                <label class="col-form-label">Tình trạng tiêm chủng:</label>
                                <select class="form-control sel" name="SoMuiDaTiem">
                                    <option value="-1">--Tất cả--</option>
                                    <option value="0">Chưa tiêm</option>
                                    <option value="1">1 mũi</option>
                                    <option value="2">2 mũi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row" style="margin: 0px;">
                                <label class="col-form-label">Đối tượng ưu tiên:</label>
                                <select class="sel form-control" name="DsDoiTuongUuTien" multiple="multiple">
                                    <option value="0">Không thuộc đối tượng ưu tiên</option>
                                    @{
                                        foreach (var doiTuong in dsDoiTuong)
                                        {
                                            <option value="@doiTuong.Id_DoiTuong">@string.Format("[{0}] - {1}", doiTuong.Ma_DoiTuong, doiTuong.Nghe_Nghiep)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-search" type="button" class="float-right btn btn-default"><i class="fas fa-search"></i> Tìm kiếm</button>
            </div>
        </div>
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Dánh sách đối tượng đăng ký tiêm</h3>
                <div class="float-right card-tools">
                    <button id="btn-add" class="btn btn-success btn-sm">
                        <i class="far fa-file-excel"></i>
                        Thêm mới
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="tbl-doituong" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:5%">STT</th>
                            <th>Phường/Xã</th>
                            <th>Họ tên</th>
                            <th>CMND/CCCD</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Số mũi đã tiêm</th>
                            <th style="width:15%">Hành động</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- modal thêm mới danh sách đăng ký tiêm từ file excel-->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <form class="form-horizontal" id="formAdd" validate="true" show-loader="true" method="post" action="/dangkytiemvaccine/dongbodsdktiemfromexcel" enctype="multipart/form-data" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-add-dsdktiem">
                        Thêm mới danh sách đăng ký tiêm
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <lable>File Excel: <span class="text-danger">*</span></lable>
                                <input type="file" name="FileDSDKTiem" id="fileDSDKTiem" accept=".xls, .xlsx" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btn-modal-add" class="float-right btn btn-success btn-sm" type="submit">
                                <i class="far fa-save"></i>
                                Thêm mới
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            var tablePanel = function () {
                var $panel = $("#tbl-doituong");
                var dataTable;
                function init() {
                    dataTable = $panel.DataTable({
                        'paging': true,
                        "responsive": true,
                        'lengthChange': true,
                        'searching': false,
                        'ordering': false,
                        'info': true,
                        'autoWidth': false,
                        "processing": true, // for show progress bar
                        "oLanguage": DataTable.language,
                        "serverSide": true,
                        "ajax": {
                            "url": "/dangkytiemvaccine/search",
                            "type": "POST",
                            "data": function (d) {
                                d.Filter = searchPanel.get();
                            }
                        },
                        "columns": [
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return meta.settings._iDisplayStart + meta.row + 1 || "";
                                }
                            },
                            {
                                "data": "phuongXa"
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return full.ho_Ten || "";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return full.cmnd || "";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return dateTimeHelper.dateToString(full.ngay_Sinh) || "";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (full.gioi_Tinh === 1) {
                                        return "Nam";
                                    }
                                    else if (full.gioi_Tinh === 2) {
                                        return "Nữ"
                                    }
                                    else {
                                        return "Chưa xác định";
                                    }
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return full.so_DienThoai || "";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return full.diaChi_HienTai || "";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return full.soMuiDaTiem + " mũi";
                                }
                            },
                            {
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    return '<a class="btn btn-success btn-sm" href="/dangkytiemvaccine/chitiet/' + full.id_ThongTin + '"><i class="fas fa-eye"></i> Chi tiết</a>';
                                }
                            }
                        ]
                    });
                }

                function reload() {
                    dataTable.ajax.reload();
                }

                var publicInterfaces = {
                    init: init,
                    reload: reload
                };

                return publicInterfaces;
            }();

            var searchPanel = function () {
                var $panel = $("#search_panel");
                function get() {
                    var data = {};
                    let $inpts = $panel.find("[name]");
                    for (let i = 0; i < $inpts.length; i++) {
                        let $ip = $inpts.eq(i);
                        let key = $ip.attr("name");
                        if (key) {
                            data[key] = $ip.val();
                        }
                    }

                    return data
                }
                function init() {
                    $('.sel').select2({
                        theme: 'bootstrap4'
                    });

                    $('.sel').on('select2:close', function () {
                        const $select = $(this);
                        const numSelected = $select.select2('data').length;
                        if (numSelected > 4) {
                            $select.next('span.select2').find('ul').html(function () {
                                return `<li class="class="select2-selection__choice">${numSelected} Đối tượng</li>`;
                            })
                        }
                    });
                    $.fn.datepicker.defaults.format = "dd/mm/yyyy";
                    $(".datepicker").datepicker({
                        autoclose: true,
                        todayHighlight: true,
                        orientation: "bottom right"
                    });
                    $panel.find("#btn-search").click(function () {
                        tablePanel.reload();
                    });
                }

                var publicInterfaces = {
                    get: get,
                    init: init
                };

                return publicInterfaces;
            }();

            var modalHandle = function () {
                var $modalAdd = $('#modalAdd');
                var $formAdd = $('#formAdd');
                var $btnAdd = $('#btn-add');
                var controlsFormAdd = {
                    $inputFile: $formAdd.find('#fileDSDKTiem'),
                    $btnModalAdd: $formAdd.find('#btn-modal-add'),
                    $tblModelAdd: $formAdd.find('#tblAdd')
                };

                function init() {
                    registerEvents();
                    $btnAdd.click(() => {
                        $modalAdd.modal('show');
                    });
                    controlsFormAdd.$inputFile.on('change', function (e) {
                        var formData = new FormData();
                        formData.append('file', )
                    })
                }

                function registerEvents() {
                    controlsFormAdd.$btnModalAdd.click(function () {
                        $formAdd.submit();
                    });
                }

                var publicInterrfaces = {
                    init: init
                };

                return publicInterrfaces;
            }();

            // init
            modalHandle.init();
            tablePanel.init()
            searchPanel.init();
        });
    </script>
}
