
<tr>
    <td colspan='3'
        style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:#4b4b4b;font-size:14px;line-height:18px;padding-top:12px;text-align:justify">
        <p>
            Xin chào {{HOTEN}}!<br/><br/>
            Theo yêu cầu của bạn, chúng tôi gửi bạn thông tin mật khẩu tài khoản .<br/><br/>
        </p>
        <div>
            <p>Tên tài khoản: {{TENTAIKHOAN}}</p>
            <p>Mật khẩu: {{MATKHAU}}</p>
        </div>
        <br />
        <p>Cảm ơn bạn và chúc bạn ngày mới tốt lành!</p>
    </td>
</tr>
