<tr>
    <td colspan='3'
        style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:#4b4b4b;font-size:14px;line-height:18px;padding-top:12px;text-align:justify">
        <p>
            Kính gửi quý nhà đầu tư {{HOTEN}}! <br>
            Ban quản lý Khu công nghệ cao và các khu công nghiệp Đà Nẵng (DHPIZA) gửi bạn yêu cầu báo cáo với nội dung như sau :<br>

            <strong><i>{{NOIDUNG}}</i></strong><br>
            Ngày yêu cầu: {{NGAYYEUCAU}}

        </p>
        <p>Cảm ơn bạn và chúc bạn ngày mới tốt lành!</p>
        <p>Trân Trọng!</p>   
</td>
</tr>
<tr>
    <td colspan='3' align='center'>
        <a href='{{LINK}}' style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;
                        font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:#4184f3;
                        border-radius:5px;" target='_blank'> Xem chi tiết </a>
    </td>
</tr>
