body {
    background: url(/dist/img/bgLogin.jpg) center center;
    background-size: cover;
}

.title {
    position: absolute;
    top: 15%;
    width: 100vw;
    line-height: 1.6;
    text-align: center;
    font-size: 30px;
    color: #eee;
    text-shadow: rgb(187 187 187) 0px 1px 0px, rgb(181 181 181) 0px 1px 0px, rgb(172 172 172) 0px 2px 0px, rgb(160 160 160) 0px 3px 0px, rgb(145 145 145) 0px 4px 0px, rgb(127 127 127) 0px 5px 0px, rgb(0 0 0 / 20%) 0px 6px 1px, rgb(0 0 0 / 30%) 0px 7px 6px;
    font-weight: bold;
}

.login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.login::before, .login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
}

.login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgb(4 74 192 / 20%);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
}

.login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgb(43 92 217 / 20%);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
}



.login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
}

.login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #f45b69;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

.login > button:hover {
    background-color: #f24353;
}

@-webkit-keyframes wawes {
    from {
        -webkit-transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes wawes {
    from {
        -moz-transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes wawes {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

label.error {
    position: absolute;
    border: 1px solid;
    padding: 0px 5px;
    background: red;
    color: white;
    bottom: 33px;
}

label.error::after {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #f00;
    bottom: -5px;
    left: 4px;
    position: absolute;
}
