.mark-enviroment-sys {
    position: fixed;
    background-color: #800;
    width: 200px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    transform: rotate( -45deg );
    top: 28px;
    left: -64px;
    z-index: 9999;
}

.text-overflow {
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-nhaxuong {
    width: 200px !important;
    height: 150px !important;
    border: 1px solid black !important;
    margin-bottom: 5px;
}

.edit-img-nhaxuong {
    width: 120px !important;
    height: 100px !important;
    border: 1px solid black !important;
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.img-wrap .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        background-color: #FFF;
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        opacity: .2;
        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
}

.img-wrap:hover .close {
        opacity: 1;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-header {
    padding: 10px;
    text-align: center;
}

.inputDisplay {
    border: none;
    border-bottom: 0.5px dotted;
    width: 100%;
}
.nav-treeview .nav-icon {
    visibility: hidden;
}

.nav-item {
    position: relative;
}

.menu-is-opening li.nav-item:before, .menu-open li.nav-item:before {
    background: #ffffff91;
    bottom: auto;
    content: "";
    height: 8px;
    left: 20px;
    margin-top: 15px;
    position: absolute;
    width: 8px;
    border-radius: 50%;
}


.menu-is-opening li.nav-item:after, .menu-open li.nav-item:after {
    border-left: 1px solid #ffffff91;
    bottom: 0;
    content: "";
    left: 23px;
    position: absolute;
    top: 0;
}

.menu-is-opening li.nav-item:last-child::after, .menu-open li.nav-item:last-child::after {
    bottom: 50%;
}

td.details-control {
    background: url('../dist/img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../dist/img/details_close.png') no-repeat center center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #428BCA;
}

.custom-radio{
    margin-left: 15px;
}

.edit-img {
    max-height: 150px !important;
    border: 1px solid black !important;
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
    margin: 10px 5px 10px 5px;
}

    .img-wrap .close, .close-selected {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        background-color: #FFF;
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        opacity: .2;
        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
    }

    .img-wrap:hover .close, .close-selected {
        opacity: 1;
    }

.error {
    color: red;
    font-weight: 400 !important;
}